<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Edu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <link rel="stylesheet" href="{{ static_url("css/min.css") }}" >
    <link rel="icon" href="/static/img/favicon.68cbf4197b0c.png">
    <script src="{{ static_url("js/axios.js") }}"></script>
    <script src="{{ static_url("js/vue.js") }}"></script>
</head>

<body>
    <div>
    
    {% include "head.html" %}
   
    <div id="app"  class="container main-content">

 <div class="row justify-content-center">
<div class="col-md-10 col-lg-10 article">

{% if course["state"] == 1 %}

<div class="article-body page-body mx-auto">
<h1 class="text-center mb-4">{{ course["title"] }}</h1>
<h4 class="text-center mb-4">观看:{{ views }}</h4>

<div>

    

    {% if course["vtype"] == 2 %}

    {% raw course["video"] %}

    {% else %}

    <video style="width:100%;" height="500" src='/static/uploads/{{ course["video"] }}' controls="controls" muted autoplay="autoplay" >
您的浏览器不支持 video 标签。
</video>
    
    {% end %}


</div>


<div class="text-center">
<button  class="btn btn-primary btn-lg text-wrap px-5 mt-2 w-100" name="jsSubmitButton" @click="order" >But it!</button>
</div>

</div>
{% else %}

    <center>该课程正在审核中.....</center>

    {% end %}
</div>
</div>

    </div>
 
    {% include "foot.html" %}

    </div>

    <script>

        const App = {
            data() {
                return {

                    course_id:'{{ course["id"] }}'
      
                };
            },
            created: function() {

            },
            methods: {
                //生成订单
                order:function(){

                    this.myaxios("/order/","post",{"id":this.course_id}).then(data =>{

                   if(data.errcode){

                    alert(data.msg);
                       
                   }else{
                       alert(data.msg);
                   }

                 });


                }
            },
        };
const app = Vue.createApp(App);
app.config.globalProperties.myaxios = myaxios;
app.config.globalProperties.axios = axios;
app.config.compilerOptions.delimiters = ['${', '}']
app.mount("#app");

    </script>

</body>

</html>